
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --color-1: #ff935c;
    --color-2: #dc5353;
    --color-3: #a72461;
    --background-color: #f9e090;
}

body {
  background-color: var(--background-color);
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.5rem;
  margin: 10px;
  color: white;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin: 10px;
  color: var(--color-3);
}

.Container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 500px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.Navigation {
  width:100%;
  background-color: var(--color-1);
  position:fixed;
  top:0px;
  height:70px;
  text-align:left;
  line-height:52px;
}

.BarChart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: 2;
  transform: rotate(180deg);
  /* align-items: flex-start; */

}

.BarChart-bar {
  background-color: var(--color-2);
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  transform: rotate(180deg);
  width: 75px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.BarChart-bar:nth-child(odd) {
  background: var(--color-1);
}
