
:root {
    --color-1: #ff935c;
    --color-2: #dc5353;
    --nav-color: #a72461;
    --background-color: #f9e090;
}

body {
  background-color: var(--background-color);
}

.Container {
    display: grid;
    grid-template-columns: 1fr 200px minmax(auto, 600px) 1fr;
    grid-template-rows: 100px auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.nav {
  background-color: var(--nav-color);
}

.BarChart {
  display: flex;
  flex-direction: row;
  justify-content: center;



            /*
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
            */
}

.BarChart-bar {
  background-color: var(--color-1);
  padding: 10px;
  margin: 2px;
  border-radius: 5px;

}
